chapterIV-module/wsdl/civics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by smals (SMALS-MVM ASBL/VZW) --><xs:schema targetNamespace="urn:be:fgov:ehealth:samcivics:type:v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0" xmlns="urn:be:fgov:ehealth:samcivics:type:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="BaseType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindParagraphTextResponseType">
		<xs:sequence>
			<xs:element name="paragraph" type="ParagraphAndChildrenType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="excludedParagraphType">
		<xs:sequence>
			<xs:element name="chapterName" type="xs:string"/>
			<xs:element name="paragraphName" type="xs:string"/>
			<xs:element name="identifierNum" type="xs:string"/>
			<xs:element name="atmList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="atm" type="AtmAndChildrenType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnstructuredExclusionRuleListType">
		<xs:sequence>
			<xs:element name="unstructuredExclusionRule" type="unstructuredExclusionRuleType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unstructuredExclusionRuleType">
		<xs:sequence>
			<xs:element name="verseSeq" type="xs:integer"/>
			<xs:element name="textFr" type="xs:string"/>
			<xs:element name="textNl" type="xs:string"/>
			<xs:element name="identifierNum" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetParagraphExclusionsResponseType">
		<xs:sequence>
			<xs:element name="exclusions" type="exclusionsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exclusionsType">
		<xs:sequence>
			<xs:element name="excludedParagraphList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="excludedParagraph" type="excludedParagraphType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="unstructuredExclusionRuleList" type="UnstructuredExclusionRuleListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LanguageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fr"/>
			<xs:enumeration value="nl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ParagraphRequestType">
		<xs:sequence>
			<xs:element name="chapterName" type="xs:string"/>
			<xs:element name="paragraphName" type="xs:string"/>
			<xs:choice minOccurs="0">
				<xs:element name="startDate" type="xs:date" minOccurs="0"/>
				<xs:element name="version" type="xs:integer" minOccurs="0"/>
			</xs:choice>
			<xs:element name="language" type="LanguageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParagraphAndVersesRequestType">
		<xs:complexContent>
			<xs:extension base="ParagraphRequestType">
				<xs:sequence>
					<xs:element name="verseNumList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="verseNum" type="xs:integer" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetProfessionalAuthorisationsRequestType">
		<xs:sequence>
			<xs:element name="qualificationList" type="xs:string"/>
			<xs:element name="inputDate" type="xs:date" minOccurs="0"/>
			<xs:element name="language" type="LanguageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindReimbursementConditionsRequestType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="amppId" type="xs:long"/>
				<xs:sequence>
					<xs:element name="chapterName" type="xs:string"/>
					<xs:element name="paragraphName" type="xs:string"/>
				</xs:sequence>
			</xs:choice>
			<xs:choice minOccurs="0">
				<xs:element name="startDate" type="xs:date" minOccurs="0"/>
				<xs:element name="version" type="xs:integer" minOccurs="0"/>
			</xs:choice>
			<xs:element name="language" type="LanguageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbursementCriteriaType">
		<xs:sequence>
			<xs:element name="reimbCriteriaCv" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbCategoryCvType">
		<xs:sequence>
			<xs:element name="reimbCategoryCv" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="priceAmnt" type="xs:float" minOccurs="0"/>
			<xs:element name="reimbBasePrice" type="xs:float" minOccurs="0"/>
			<xs:element name="referenceBasePrice" type="xs:float" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmppAndChildrenType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="amppID" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="contentQuantity" type="xs:float"/>
			<xs:element name="contentUnit" type="xs:string"/>
			<xs:element name="treatmentDurationCatCv" type="xs:string"/>
			<xs:element name="contentMultiplier" type="xs:integer"/>
			<xs:element name="totalPackSizeValue" type="xs:float"/>
			<xs:element name="socsecReimbCv" type="xs:string" minOccurs="0"/>
			<xs:element name="distributorId" type="xs:long" minOccurs="0"/>
			<xs:element name="initDate" type="xs:date" minOccurs="0"/>
			<xs:element name="closeDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CopaymentType">
		<xs:sequence>
			<xs:element name="copayment" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="startDate" type="xs:date"/>
						<xs:element name="endDate" type="xs:date" minOccurs="0"/>
						<xs:element name="regimeType" type="xs:integer"/>
						<xs:element name="copayAmnt" type="xs:float" minOccurs="0"/>
						<xs:element name="solidFlatRateAmnt" type="xs:float" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbursementAndChildrenType">
		<xs:sequence>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="deliveryEnvironment" type="xs:string"/>
			<xs:element name="referenceBaseInd" type="xs:boolean" minOccurs="0"/>
			<xs:element name="packageAgreement" type="xs:string" minOccurs="0"/>
			<xs:element name="price" type="PriceType"/>
			<xs:element name="ampp" type="AmppAndChildrenType"/>
			<xs:element name="copaymentList" type="CopaymentType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TherapyType">
		<xs:sequence>
			<xs:element name="atm" type="AtmType"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="maskedInd" type="xs:string"/>
			<xs:element name="reimbursementCriteria" type="ReimbursementCriteriaType"/>
			<xs:element name="reimbursementCategory" type="ReimbCategoryCvType"/>
			<xs:element name="reimbursementList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="reimbursement" type="ReimbursementAndChildrenType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindReimbursementConditionsResponseType">
		<xs:sequence>
			<xs:element name="paragraphList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="paragraph" type="ParagraphTypeAndTherapy" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParagraphTypeAndTherapy">
		<xs:complexContent>
			<xs:extension base="ParagraphType">
				<xs:sequence>
					<xs:element name="therapyList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="therapy" type="TherapyType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetAddedDocumentsResponseType">
		<xs:sequence>
			<xs:element name="addedDocumentList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="addedDocument" type="AddedDocumentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetProfessionalAuthorisationsResponseType">
		<xs:sequence>
			<xs:element name="profauid" type="xs:long"/>
			<xs:element name="qualificationList" type="xs:string"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="enxclusiveInd" type="xs:string" minOccurs="0"/>
			<xs:element name="professionalAuthorisationList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="professionalAuthorisation" type="ProfessionalAuthorizationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetParagraphIncludedSpecialitiesResponseType">
		<xs:sequence>
			<xs:element name="atmList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="atm" type="AtmAndChildrenType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParagraphType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="chapterName" type="xs:string"/>
					<xs:element name="paragraphName" type="xs:string"/>
					<xs:element name="keyStringNl" type="xs:string" minOccurs="0"/>
					<xs:element name="keyStringFr" type="xs:string" minOccurs="0"/>
					<xs:element name="agreementType" type="xs:string" minOccurs="0"/>
					<xs:element name="processType" type="xs:integer" minOccurs="0"/>
					<xs:element name="legalReference" type="xs:string" minOccurs="0"/>
					<xs:element name="publicationDate" type="xs:date" minOccurs="0"/>
					<xs:element name="modificationDate" type="xs:date" minOccurs="0"/>
					<xs:element name="processTypeOverrule" type="xs:string" minOccurs="0"/>
					<xs:element name="paragraphVersion" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ParagraphAndChildrenType">
		<xs:complexContent>
			<xs:extension base="ParagraphType">
				<xs:sequence>
					<xs:element name="verseList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="verse" type="VerseType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="exclusionList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="exclusion" type="ExclusionType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProfessionaleCodeType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0"/>
					<xs:element name="professionalName" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QualificationListType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProfessionalAuthorizationType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="purchasingAdvisorName" type="xs:string" minOccurs="0"/>
					<xs:element name="professionalCode" type="ProfessionaleCodeType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VerseType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="verseSeq" type="xs:integer"/>
					<xs:element name="verseNum" type="xs:integer"/>
					<xs:element name="verseSeqParent" type="xs:integer" minOccurs="0"/>
					<xs:element name="verseLevel" type="xs:integer"/>
					<xs:element name="verseType" type="xs:string" minOccurs="0"/>
					<xs:element name="checkBoxInd" type="xs:boolean"/>
					<xs:element name="minCheckNum" type="xs:integer" minOccurs="0"/>
					<xs:element name="andClauseNum" type="xs:integer" minOccurs="0"/>
					<xs:element name="textNl" type="xs:string"/>
					<xs:element name="textFr" type="xs:string"/>
					<xs:element name="requestType" type="xs:string" minOccurs="0"/>
					<xs:element name="agreementTerm" type="xs:integer" minOccurs="0"/>
					<xs:element name="agreementTermUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="maxPackageNumber" type="xs:integer" minOccurs="0"/>
					<xs:element name="legalReference" type="xs:string" minOccurs="0"/>
					<xs:element name="modificationDate" type="xs:date" minOccurs="0"/>
					<xs:element name="agreementYearMax" type="xs:integer" minOccurs="0"/>
					<xs:element name="agreementRenewalMax" type="xs:integer" minOccurs="0"/>
					<xs:element name="sexRestricted" type="xs:boolean" minOccurs="0"/>
					<xs:element name="minimumAgeAuthorized" type="xs:float" minOccurs="0"/>
					<xs:element name="maximumAgeAuthorized" type="xs:float" minOccurs="0"/>
					<xs:element name="minimumAgeAuthorizedUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="maximumAgeAuthorizedUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="maximumContentQuantity" type="xs:float" minOccurs="0"/>
					<xs:element name="maximumContentUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="maximumStrengthQuantity" type="xs:float" minOccurs="0"/>
					<xs:element name="maximumStrengthUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="maximumDurationQuantity" type="xs:float" minOccurs="0"/>
					<xs:element name="maximumDurationUnit" type="xs:string" minOccurs="0"/>
					<xs:element name="otherAddedDocumentInd" type="xs:boolean" minOccurs="0"/>
					<xs:element name="purchasingAdvisorQualList" type="xs:string" minOccurs="0"/>
					<xs:element name="addedDocumentInd" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddedDocumentType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="chapterName" type="xs:string"/>
					<xs:element name="paragraphName" type="xs:string"/>
					<xs:element name="verseSeq" type="xs:integer"/>
					<xs:element name="documentSeq" type="xs:integer"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="formTypeName" type="xs:string"/>
					<xs:element name="appendixTypeName" type="xs:string"/>
					<xs:element name="mimeType" type="xs:string" minOccurs="0"/>
					<xs:element name="addressURL" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtmType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="atmId" type="xs:long"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AtmAndChildrenType">
		<xs:complexContent>
			<xs:extension base="AtmType">
				<xs:sequence>
					<xs:element name="amppList" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ampp" type="AmppType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AmppType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="amppId" type="xs:long"/>
					<xs:element name="name" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExclusionType">
		<xs:complexContent>
			<xs:extension base="BaseType">
				<xs:sequence>
					<xs:element name="exclusionType" type="xs:string"/>
					<xs:element name="identifierNum" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FindCNKRequestType">
		<xs:sequence>
			<xs:element name="productName" type="xs:string"/>
			<xs:choice>
				<xs:element name="startDate" type="xs:date" minOccurs="0"/>
				<xs:element name="version" type="xs:integer" minOccurs="0"/>
			</xs:choice>
			<xs:element name="chapterName" type="xs:string" minOccurs="0"/>
			<xs:element name="paragraphName" type="xs:string" minOccurs="0"/>
			<xs:element name="language" type="LanguageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FindCNKResponseType">
		<xs:annotation>
			<xs:documentation>Response structure returning information on AMPP</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="productList" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="productName" type="ProductNameType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductNameType">
		<xs:annotation>
			<xs:documentation>Response structure returning information on AMPP</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="productName" type="xs:string"/>
			<xs:element name="amppID" type="xs:long"/>
			<xs:element name="chapterName" type="xs:string" minOccurs="0"/>
			<xs:element name="paragraphName" type="xs:string" minOccurs="0"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="versionNum" type="xs:integer"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>