ehBox-module/wsdl/ehealth-ehBox-monitoring-schema-protocol-2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v2" xmlns:mon="urn:be:fgov:ehealth:ehbox:monitoring:protocol:v2" elementFormDefault="unqualified"
  attributeFormDefault="unqualified" version="2.1">
  <xs:element name="PingRequest" type="mon:PingRequestType" />
  <xs:element name="PingResponse" type="mon:PingResponseType" />
  <xs:complexType name="PingRequestType">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="PingResponseType">
    <xs:sequence />
  </xs:complexType>
</xs:schema>

