library-core/wsdl/ehealth-iam-sts-ws-trust-1.3-proxy-v1_X509.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:be:fgov:ehealth:sts:protocol:v1" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" name="SecurityTokenService" targetNamespace="urn:be:fgov:ehealth:sts:protocol:v1">

  <wsdl:documentation>WS-Trust 1.3 Security Token Service: Version 1.2</wsdl:documentation>

  <wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="X509">
    <sp:AsymmetricBinding>
        <wsp:Policy>
            <sp:InitiatorToken>
                <wsp:Policy>
                    <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                        <wsp:Policy>
                            <sp:WssX509V3Token10/>
                        </wsp:Policy>
                    </sp:X509Token>
                </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
                <wsp:Policy>
                    <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                        <wsp:Policy>
                            <sp:WssX509V3Token10/>
                        </wsp:Policy>
                    </sp:X509Token>
                </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
                <wsp:Policy>
                    <sp:Basic256/>
                </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
                <wsp:Policy>
                    <sp:Lax/>
                </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
            <sp:ProtectTokens/>
            <sp:OnlySignEntireHeadersAndBody/>
        </wsp:Policy>
    </sp:AsymmetricBinding>
    <sp:Wss10>
        <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefIssuerSerial/>
        </wsp:Policy>
    </sp:Wss10>
    <sp:SignedParts>
        <sp:Body/>
    </sp:SignedParts>
</wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" schemaLocation="s-trust-1.3-errata-cd-01.xsd"/>
      <xs:import namespace="http://docs.oasis-open.org/wsfed/authorization/200706" schemaLocation="ws-authorization-1.2.xsd"/>
    </xs:schema>
  </wsdl:types>

  <!-- WS-Trust defines the following GEDs -->
  <wsdl:message name="RequestSecurityTokenMsg">
    <wsdl:part element="wst:RequestSecurityToken" name="request"/>
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenCollectionMsg">
    <wsdl:part element="wst:RequestSecurityTokenCollection" name="request"/>
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseMsg">
    <wsdl:part element="wst:RequestSecurityTokenResponse" name="response"/>
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
    <wsdl:part element="wst:RequestSecurityTokenResponseCollection" name="responseCollection"/>
  </wsdl:message>

  <wsdl:portType name="SecurityTokenServicePort">
    <wsdl:operation name="RequestSecurityToken">
      <wsdl:input message="tns:RequestSecurityTokenMsg"/>
      <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="Challenge">
      <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
      <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SecurityTokenServiceSOAPBinding" type="tns:SecurityTokenServicePort">
    <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestSecurityToken">
      <soap11:operation soapAction="urn:be:fgov:ehealth:sts:protocol:v1:RequestSecurityToken"/>
      <wsdl:input>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#X509"/>
        <soap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Challenge">
      <soap11:operation soapAction="urn:be:fgov:ehealth:sts:protocol:v1:Challenge"/>
      <wsdl:input>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#X509"/>
        <soap11:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap11:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SecurityTokenService">
    <wsdl:port binding="tns:SecurityTokenServiceSOAPBinding" name="SecurityTokenServiceSOAP11">
      <soap11:address location="https://services-acpt.ehealth.fgov.be/IAM/SecurityTokenService/v1"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
